<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: frag-layout (~{::title}, ~{::body})}">
<head>
    <title>Listagem de Itens</title>
</head>
<body class="w3-panel">
	<div class="w3-card-4">
		<div class="w3-panel w3-padding">
			<p th:if="${idexcluido}"
				th:text="|Item de ID ${idexcluido} exclu&iacute;do|"
				class="w3-panel w3-padding w3-pale-blue w3-leftbar w3-border-blue"/>
			<p th:if="${itemsalvo}"
				th:text="|Item (${itemsalvo.id}: ${itemsalvo.nome}) salvo|"
				class="w3-panel w3-padding w3-pale-blue w3-leftbar w3-border-blue"/>
			<b><div class="w3-large" th:text="|Listagem de Itens:|"/></b>
		</div>
		<div class="w3-panel">
			<form method="GET" th:action="@{/item/listar}" th:object="${itemdto}">
				<!-- Pesquisa -->
				<div class="w3-panel">
					<div>
						<label>C&oacute;digo:</label>
						<input class="w3-input w3-border" type="text" th:field="*{codigo}"/>
					</div>
					<div>
						<label>Nome:</label>
						<input class="w3-input w3-border" type="text" th:field="*{nome}"/>
					</div>
					<div class="w3-panel w3-center">
						<input class="w3-button w3-ripple app-color w3-padding-small" type="submit" value="Pesquisar"/>
						<a class="w3-button w3-ripple app-color w3-padding-small" th:href="@{/item/listar}" th:text="Limpar"/>
					</div>
				</div>

				<!-- Tabela -->
				<table class="w3-table-all" th:if="${itemdto.page.totalElements > 0}">
			    	<thead>
			    		<tr class="app-color">
			    			<th>ID</th>
			    			<th>C&oacute;digo</th>
			    			<th>Nome</th>
			    			<th>Pre&ccedil;o</th>
			    			<th/>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<tr th:each="item : ${itemdto.page.content}">
			    			<td th:text="${item.id}"></td>
			    			<td th:text="${item.codigo}"></td>
			    			<td th:text="${item.nome}"></td>
			    			<td th:text="${item.preco}"></td>
			    			<td>
								<div class="app-text-color">
									<a th:href="@{/item/editar/{id}(id=${item.id})}"><i class="w3-xlarge fas fa-edit"></i></a>
									<a th:href="@{/item/excluir/{id}(id=${item.id})}"><i class="w3-xlarge fas fa-trash"></i></a>
								</div>
			    			</td>
			    		</tr>
			    	</tbody>
			    </table>
		    
			    <!-- Navegação -->
			    <div th:if="${itemdto.page.totalPages > 1}" class="w3-bar w3-center">
					<input class="w3-button w3-padding-small" type="submit"
						th:if="${itemdto.page.hasPrevious()}"
						th:name="anterior"
						th:value="|<|"/>
					
					<input type="text" size="3"
						th:field="*{pagina}"						
						th:value="${itemdto.page.number}"/>
					
					<input class="w3-button w3-padding-small" type="submit"
						th:if="${itemdto.page.hasNext()}"
						th:name="proximo"
						th:value="|>|"/>
				</div>
			</form>
			
		    <div class="w3-panel">
				<a th:href="@{/item/adicionar}" class="w3-button w3-ripple app-color w3-padding-small">Adicionar</a>
			</div>
		</div>
	</div>
</body>
</html>
