<!DOCTYPE HTML>
<html data-th-replace="~{layout :: frag-layout (~{::title}, ~{::body})}">
<head>
    <title>Listagem de Itens</title>
</head>
<body class="w3-panel">
	<div class="w3-card-4">
		<div class="w3-panel w3-padding">
			<p data-th-if="${idexcluido}"
				data-th-text="|Item de ID ${idexcluido} exclu&iacute;do|"
				class="w3-panel w3-padding w3-pale-blue w3-leftbar w3-border-blue"/>
			<p data-th-if="${itemsalvo}"
				data-th-text="|Item (${itemsalvo.id}: ${itemsalvo.nome}) salvo|"
				class="w3-panel w3-padding w3-pale-blue w3-leftbar w3-border-blue"/>
			<b><div class="w3-large" data-th-text="|Listagem de Itens:|"/></b>
		</div>
		<div class="w3-panel">
			<table class="w3-table-all">
		    	<thead>
		    		<tr class="app-color">
		    			<th>ID</th>
		    			<th>C&oacute;digo</th>
		    			<th>Nome</th>
		    			<th>Pre&ccedil;o</th>
		    			<th/>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr data-th-each="item : ${itens.content}">
		    			<td data-th-text="${item.id}"></td>
		    			<td data-th-text="${item.codigo}"></td>
		    			<td data-th-text="${item.nome}"></td>
		    			<td data-th-text="${item.preco}"></td>
		    			<td>
							<div class="app-text-color">
								<a data-th-href="@{/item/editar/{id}(id=${item.id})}"><i class="w3-xlarge fas fa-edit"></i></a>
								<a data-th-href="@{/item/excluir/{id}(id=${item.id})}"><i class="w3-xlarge fas fa-trash"></i></a>
							</div>
		    			</td>
		    		</tr>
		    	</tbody>
		    </table>
		    <div data-th-if="${itens.totalPages > 0}" class="w3-bar w3-center">
				<a data-th-each="n : ${paginas}"
					data-th-href="@{/item/listar(pagina=${n})}"
					data-th-text="${n+1}"
					data-th-class="${n==itens.number} ? 'w3-button w3-padding-small w3-green' : 'w3-button w3-padding-small'"></a>
			</div>
		    <div class="w3-panel">
				<a data-th-href="@{/item/adicionar}" class="w3-button w3-ripple app-color w3-padding-small">Adicionar</a>
			</div>
		</div>
	</div>
</body>
</html>
