:root {
	background-color:#f1f1f1!important;
}

.w3-dark-green,.w3-hover-dark-green:hover {
	color:#fff!important;
	background-color:#003000!important;
}

.w3-lobster {
	font-family: "Lobster", serif;
}