<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: frag-layout (~{::title}, ~{::body})}">
<head>
    <title>SpringBoot Sample Appliication</title>
</head>
<body class="w3-panel">
	<div class="w3-card-4">
		<div class="w3-panel w3-padding">
			<b><div class="w3-large" th:text="|Menu de Sele&ccedil;&atilde;o:|"/></b>
			<div class="w3-panel">
				<a class="w3-button w3-ripple app-color w3-padding-small" th:href="@{/item/listar}">Itens</a>
	        	<a class="w3-button w3-ripple app-color w3-padding-small w3-disabled" th:href="@{/item/listar}">Upload</a>
	        </div>
		</div>
	</div>
</body>
</html>
