<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout (~{::body})}">
<head> 
    <title>Getting Started: Serving Web Content</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="w3-panel">
		<b><div class="w3-xlarge" th:text="|Listagem de Items:|"/></b>
	</div>
	<div class="w3-panel">
		<table class="w3-table-all">
	    	<thead>
	    		<tr class="app-dark-green">
	    			<th>ID</th>
	    			<th>C&oacute;digo</th>
	    			<th>Nome</th>
	    			<th>Pre&ccedil;o</th>
	    			<th></th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr th:each="item : ${itens}">
	    			<td th:text="${item.id}"></td>
	    			<td th:text="${item.codigo}"></td>
	    			<td th:text="${item.nome}"></td>
	    			<td th:text="${item.preco}"></td>
	    			<td>
	    				<div class="w3-bar">
		    				<a	th:href="@{/item/editar/{id}(id=${item.id})}"
		    					class="w3-button w3-ripple app-dark-green w3-padding-small">
		    						Editar
		    				</a>
		    				<a	th:href="@{/item/excluir/{id}(id=${item.id})}"
		    					class="w3-button w3-ripple app-dark-green w3-padding-small">
		    						Excluir
		    				</a>
		    			</div>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>
    
    <a 	th:href="@{/item/adicionar}"
    	class="w3-button w3-ripple app-dark-green w3-padding-small">
    		Adicionar
    </a>
</body>
</html>
