<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
    	<thead>
    		<tr>
    			<th>ID</th>
    			<th>C&oacute;digo</th>
    			<th>Nome</th>
    			<th>Pre&ccedil;o</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr th:each="item : ${itens}">
    			<td th:text="${item.id}"></td>
    			<td th:text="${item.codigo}"></td>
    			<td th:text="${item.nome}"></td>
    			<td th:text="${item.preco}"></td>
    			<td>
    				<a th:href="@{/editar/{id}(id=${item.id})}">Editar</a>
    				<a th:href="@{/excluir/{id}(id=${item.id})}">Excluir</a>
    			</td>
    		</tr>
    	</tbody>
    </table>
    <a th:href="@{/adicionar}">Adicionar</a>
</body>
</html>
