<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form method="POST" th:action="@{/salvar}" th:object="${item}">
		<fieldset>
			<div>
				<label>C&oacute;digo:</label>
				<input type="text" th:field="*{codigo}"/>
			</div>
			<div>
				<label>Nome:</label>
				<input type="text" th:field="*{nome}"/>
			</div>
			<div>
				<label>Pre&ccedil;o:</label>
				<input type="text" th:field="*{preco}"/>
			</div>
			<div>
				<input type="submit" value="Salvar">
				<input type="reset" />
				<a th:href="@{/}">Cancelar</a>
			</div>
		</fieldset>		
	</form>
</body>
</html>
