<!DOCTYPE HTML>
<html data-th-fragment="frag-layout (titulo, corpo)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<data-th-block data-th-replace="${titulo}"/>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" data-th-href="@{/webjars/w3-css/4.1.0/w3.css}"/>
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/5.5.0/css/all.css}"/>
    <link rel="stylesheet/less" type="text/css" data-th-href="@{/css/app.less}"/>
    <script data-th-src="@{/webjars/less/3.8.1/less.min.js}" ></script>
</head>
<body>
	<!-- Cabeçalho 	-->	<data-th-block data-th-replace="~{layout_cabecalho :: frag-cabecalho}"/>
	<!-- Cabeçalho 	-->	<data-th-block data-th-replace="~{layout_menu :: frag-menu}"/>
  	<!-- Corpo 		-->	<data-th-block data-th-replace="${corpo}"/>
    <!-- Rodapé 	-->	<data-th-block data-th-replace="~{layout_rodape :: frag-rodape}"/>
</body>
</html>
