<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (titulo, corpo)">
<head>
	<th:block th:replace="${titulo}"/>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/w3-css/4.1.0/w3.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
	<!-- Cabeçalho -->
	<div class="w3-bar app-color w3-topbar app-border-color">
		<div class="w3-left w3-padding">
			<img alt="logo" th:src="@{/imagens/logo.png}">
		</div>
    	<div class="w3-left w3-padding w3-xxlarge app-lobster">
    		SpringBoot Application Sample
    	</div>
  	</div>
  	
  	<!-- Corpo -->
    <div class="w3-panel">
        <th:block th:include="${corpo}"/>
    </div>
    
    <!-- Rodapé -->
	<div class="w3-panel app-color w3-center w3-bottombar app-border-color">
		(2018) Apache License 2.0
	</div>
</body>
</html>
