<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p><h3>Upload de Arquivos:</h3></p>
    <p>
   		<form method="POST" enctype="multipart/form-data" action="/upload">
	    	<p>Selecione o arquivo: <input type="file" name="file" /></p>
    		<p>
	    		<input type="submit" value="Enviar" />
    			<input type="reset" value="Limpar" />
	    	</p>
   		</form>
    </p>
</body>
</html>
